*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    /* Set background image */
    background-image: url('city-skyline.3840x2160.mp4');
    
    /* Specify background size to cover the entire viewport */
    background-size: cover;
    
    /* Prevent the background image from repeating */
    background-repeat: no-repeat;
    
    /* Center the background image */
    background-position: center center;

    /* Set a fixed background attachment */
    background-attachment: fixed;

    /* Set a background color as a fallback */
    background-color: #131212;
    
    /* Adjust other styles as needed */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.card{
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px ;
    text-align: center;
    /* From https://css.glass */
    background: rgba(0, 246, 236, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(0, 246, 236, 0.3);

}

    


.search button img{
    width: 16px;
    margin-right: 10px;
}

.weather-icon{
    
    width: 170px;
    margin-top:30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col1, .col2{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;

}

.col1 img, .col2 img{
    width: 40px;
    margin-right: 10px ;
    justify-content: space-between;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.search{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-left: 20px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}



.search input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}

.search button{
    height: 50px;
    border: none;
    outline: none;
    padding: 16px 10px;
    font-size: 16px;
    cursor: pointer;
    background:transparent;

}

.weather{
    display: none;
}


.error{
    text-align: left;
    margin-left: 10px;
    
    margin-top: 10px;

    font-size: 20px;
    font-weight: 500;
    display: none;

}
